In [1]:
import os
import numpy as np
import pandas as pd
import glob

In [2]:
path = os.getcwd()
files = os.listdir(path)
files,path

(['.ipynb_checkpoints',
  'Electricity Data',
  'Fault_pred.ipynb',
  'load_neat_params.ipynb',
  'test.ipynb',
  'test.txt'],
 'D:\\Neat')

In [3]:
path =r'D:\Neat\Electricity Data\2018\LOG REPORT APRIL 2018\01.04.18'
allFiles = glob.glob(path + "/*.xls")
allFiles

['D:\\Neat\\Electricity Data\\2018\\LOG REPORT APRIL 2018\\01.04.18\\South-1.xls',
 'D:\\Neat\\Electricity Data\\2018\\LOG REPORT APRIL 2018\\01.04.18\\SOUTH-3.xls',
 'D:\\Neat\\Electricity Data\\2018\\LOG REPORT APRIL 2018\\01.04.18\\South-II.xls',
 'D:\\Neat\\Electricity Data\\2018\\LOG REPORT APRIL 2018\\01.04.18\\West .xls']

In [4]:
path2 = r'D:\Neat\Electricity Data\2018\LOG REPORT APRIL 2018'
allf = glob.glob(path2 + "/*/*.xls")
allf

['D:\\Neat\\Electricity Data\\2018\\LOG REPORT APRIL 2018\\01.04.18\\South-1.xls',
 'D:\\Neat\\Electricity Data\\2018\\LOG REPORT APRIL 2018\\01.04.18\\SOUTH-3.xls',
 'D:\\Neat\\Electricity Data\\2018\\LOG REPORT APRIL 2018\\01.04.18\\South-II.xls',
 'D:\\Neat\\Electricity Data\\2018\\LOG REPORT APRIL 2018\\01.04.18\\West .xls',
 'D:\\Neat\\Electricity Data\\2018\\LOG REPORT APRIL 2018\\02.04.18\\South-1.xls',
 'D:\\Neat\\Electricity Data\\2018\\LOG REPORT APRIL 2018\\02.04.18\\SOUTH-3.xls',
 'D:\\Neat\\Electricity Data\\2018\\LOG REPORT APRIL 2018\\02.04.18\\South-II.xls',
 'D:\\Neat\\Electricity Data\\2018\\LOG REPORT APRIL 2018\\02.04.18\\West .xls',
 'D:\\Neat\\Electricity Data\\2018\\LOG REPORT APRIL 2018\\03.04.18\\South-1.xls',
 'D:\\Neat\\Electricity Data\\2018\\LOG REPORT APRIL 2018\\03.04.18\\SOUTH-3.xls',
 'D:\\Neat\\Electricity Data\\2018\\LOG REPORT APRIL 2018\\03.04.18\\South-II.xls',
 'D:\\Neat\\Electricity Data\\2018\\LOG REPORT APRIL 2018\\03.04.18\\West .xls',
 'D:\\Neat\\Electricity Data\\2018\\LOG REPORT APRIL 2018\\04.04.18\\South-1.xls',
 'D:\\Neat\\Electricity Data\\2018\\LOG REPORT APRIL 2018\\04.04.18\\SOUTH-3.xls',
 'D:\\Neat\\Electricity Data\\2018\\LOG REPORT APRIL 2018\\04.04.18\\South-II.xls',
 'D:\\Neat\\Electricity Data\\2018\\LOG REPORT APRIL 2018\\04.04.18\\West .xls',
 'D:\\Neat\\Electricity Data\\2018\\LOG REPORT APRIL 2018\\05.04.18\\South-1.xls',
 'D:\\Neat\\Electricity Data\\2018\\LOG REPORT APRIL 2018\\05.04.18\\SOUTH-3.xls',
 'D:\\Neat\\Electricity Data\\2018\\LOG REPORT APRIL 2018\\05.04.18\\South-II.xls',
 'D:\\Neat\\Electricity Data\\2018\\LOG REPORT APRIL 2018\\05.04.18\\West .xls',
 'D:\\Neat\\Electricity Data\\2018\\LOG REPORT APRIL 2018\\06.04.18\\South-1.xls',
 'D:\\Neat\\Electricity Data\\2018\\LOG REPORT APRIL 2018\\06.04.18\\SOUTH-3.xls',
 'D:\\Neat\\Electricity Data\\2018\\LOG REPORT APRIL 2018\\06.04.18\\South-II.xls',
 'D:\\Neat\\Electricity Data\\2018\\LOG REPORT APRIL 2018\\06.04.18\\West .xls',
 'D:\\Neat\\Electricity Data\\2018\\LOG REPORT APRIL 2018\\07.04.18\\South-1.xls',
 'D:\\Neat\\Electricity Data\\2018\\LOG REPORT APRIL 2018\\07.04.18\\SOUTH-3.xls',
 'D:\\Neat\\Electricity Data\\2018\\LOG REPORT APRIL 2018\\07.04.18\\South-II.xls',
 'D:\\Neat\\Electricity Data\\2018\\LOG REPORT APRIL 2018\\07.04.18\\West .xls',
 'D:\\Neat\\Electricity Data\\2018\\LOG REPORT APRIL 2018\\08.04.18\\South-1.xls',
 'D:\\Neat\\Electricity Data\\2018\\LOG REPORT APRIL 2018\\08.04.18\\SOUTH-3.xls',
 'D:\\Neat\\Electricity Data\\2018\\LOG REPORT APRIL 2018\\08.04.18\\South-II.xls',
 'D:\\Neat\\Electricity Data\\2018\\LOG REPORT APRIL 2018\\08.04.18\\West .xls',
 'D:\\Neat\\Electricity Data\\2018\\LOG REPORT APRIL 2018\\09.04-18\\South-1.xls',
 'D:\\Neat\\Electricity Data\\2018\\LOG REPORT APRIL 2018\\09.04-18\\SOUTH-3.xls',
 'D:\\Neat\\Electricity Data\\2018\\LOG REPORT APRIL 2018\\09.04-18\\South-II.xls',
 'D:\\Neat\\Electricity Data\\2018\\LOG REPORT APRIL 2018\\09.04-18\\West .xls',
 'D:\\Neat\\Electricity Data\\2018\\LOG REPORT APRIL 2018\\10.04.18\\South-1.xls',
 'D:\\Neat\\Electricity Data\\2018\\LOG REPORT APRIL 2018\\10.04.18\\SOUTH-3.xls',
 'D:\\Neat\\Electricity Data\\2018\\LOG REPORT APRIL 2018\\10.04.18\\South-II.xls',
 'D:\\Neat\\Electricity Data\\2018\\LOG REPORT APRIL 2018\\10.04.18\\West .xls',
 'D:\\Neat\\Electricity Data\\2018\\LOG REPORT APRIL 2018\\11-04-18\\South-1.xls',
 'D:\\Neat\\Electricity Data\\2018\\LOG REPORT APRIL 2018\\11-04-18\\SOUTH-3.xls',
 'D:\\Neat\\Electricity Data\\2018\\LOG REPORT APRIL 2018\\11-04-18\\South-II.xls',
 'D:\\Neat\\Electricity Data\\2018\\LOG REPORT APRIL 2018\\11-04-18\\West .xls',
 'D:\\Neat\\Electricity Data\\2018\\LOG REPORT APRIL 2018\\12.04-18\\South-1.xls',
 'D:\\Neat\\Electricity Data\\2018\\LOG REPORT APRIL 2018\\12.04-18\\SOUTH-3.xls',
 'D:\\Neat\\Electricity Data\\2018\\LOG REPORT APRIL 2018\\12.04-18\\South-II.xls',
 'D:\\Neat\\Electricity Data\\2018\\LOG REPORT APRIL 2018\\12.04-18\\West .xls',
 'D:\\Neat\\Electricity Data\\2018\\LOG REPORT APRIL 2018\\13.04-18\\South-1.xls',
 'D:\\Neat\\Electricity Data\\2018\\LOG REPORT APRIL 2018\\13.04-18\\SOUTH-3.xls',
 'D:\\Neat\\Electricity Data\\2018\\LOG REPORT APRIL 2018\\13.04-18\\South-II.xls',
 'D:\\Neat\\Electricity Data\\2018\\LOG REPORT APRIL 2018\\13.04-18\\West .xls',
 'D:\\Neat\\Electricity Data\\2018\\LOG REPORT APRIL 2018\\14.04-18\\South-1.xls',
 'D:\\Neat\\Electricity Data\\2018\\LOG REPORT APRIL 2018\\14.04-18\\SOUTH-3.xls',
 'D:\\Neat\\Electricity Data\\2018\\LOG REPORT APRIL 2018\\14.04-18\\South-II.xls',
 'D:\\Neat\\Electricity Data\\2018\\LOG REPORT APRIL 2018\\14.04-18\\West .xls',
 'D:\\Neat\\Electricity Data\\2018\\LOG REPORT APRIL 2018\\15.04-18\\South-1.xls',
 'D:\\Neat\\Electricity Data\\2018\\LOG REPORT APRIL 2018\\15.04-18\\SOUTH-3.xls',
 'D:\\Neat\\Electricity Data\\2018\\LOG REPORT APRIL 2018\\15.04-18\\South-II.xls',
 'D:\\Neat\\Electricity Data\\2018\\LOG REPORT APRIL 2018\\15.04-18\\West .xls',
 'D:\\Neat\\Electricity Data\\2018\\LOG REPORT APRIL 2018\\16.04-18\\South-1.xls',
 'D:\\Neat\\Electricity Data\\2018\\LOG REPORT APRIL 2018\\16.04-18\\SOUTH-3.xls',
 'D:\\Neat\\Electricity Data\\2018\\LOG REPORT APRIL 2018\\16.04-18\\South-II.xls',
 'D:\\Neat\\Electricity Data\\2018\\LOG REPORT APRIL 2018\\16.04-18\\West .xls',
 'D:\\Neat\\Electricity Data\\2018\\LOG REPORT APRIL 2018\\17.04-18\\South-1.xls',
 'D:\\Neat\\Electricity Data\\2018\\LOG REPORT APRIL 2018\\17.04-18\\SOUTH-3.xls',
 'D:\\Neat\\Electricity Data\\2018\\LOG REPORT APRIL 2018\\17.04-18\\South-II.xls',
 'D:\\Neat\\Electricity Data\\2018\\LOG REPORT APRIL 2018\\17.04-18\\West .xls',
 'D:\\Neat\\Electricity Data\\2018\\LOG REPORT APRIL 2018\\18.04-18\\South-1.xls',
 'D:\\Neat\\Electricity Data\\2018\\LOG REPORT APRIL 2018\\18.04-18\\SOUTH-3.xls',
 'D:\\Neat\\Electricity Data\\2018\\LOG REPORT APRIL 2018\\18.04-18\\South-II.xls',
 'D:\\Neat\\Electricity Data\\2018\\LOG REPORT APRIL 2018\\18.04-18\\West .xls',
 'D:\\Neat\\Electricity Data\\2018\\LOG REPORT APRIL 2018\\19.04-18\\South-1.xls',
 'D:\\Neat\\Electricity Data\\2018\\LOG REPORT APRIL 2018\\19.04-18\\SOUTH-3.xls',
 'D:\\Neat\\Electricity Data\\2018\\LOG REPORT APRIL 2018\\19.04-18\\South-II.xls',
 'D:\\Neat\\Electricity Data\\2018\\LOG REPORT APRIL 2018\\19.04-18\\West .xls',
 'D:\\Neat\\Electricity Data\\2018\\LOG REPORT APRIL 2018\\20.04-18\\South-1.xls',
 'D:\\Neat\\Electricity Data\\2018\\LOG REPORT APRIL 2018\\20.04-18\\SOUTH-3.xls',
 'D:\\Neat\\Electricity Data\\2018\\LOG REPORT APRIL 2018\\20.04-18\\South-II.xls',
 'D:\\Neat\\Electricity Data\\2018\\LOG REPORT APRIL 2018\\20.04-18\\West .xls',
 'D:\\Neat\\Electricity Data\\2018\\LOG REPORT APRIL 2018\\21.04-18\\South-1.xls',
 'D:\\Neat\\Electricity Data\\2018\\LOG REPORT APRIL 2018\\21.04-18\\SOUTH-3.xls',
 'D:\\Neat\\Electricity Data\\2018\\LOG REPORT APRIL 2018\\21.04-18\\South-II.xls',
 'D:\\Neat\\Electricity Data\\2018\\LOG REPORT APRIL 2018\\21.04-18\\West .xls',
 'D:\\Neat\\Electricity Data\\2018\\LOG REPORT APRIL 2018\\22.04-18\\South-1.xls',
 'D:\\Neat\\Electricity Data\\2018\\LOG REPORT APRIL 2018\\22.04-18\\SOUTH-3.xls',
 'D:\\Neat\\Electricity Data\\2018\\LOG REPORT APRIL 2018\\22.04-18\\South-II.xls',
 'D:\\Neat\\Electricity Data\\2018\\LOG REPORT APRIL 2018\\22.04-18\\West .xls',
 'D:\\Neat\\Electricity Data\\2018\\LOG REPORT APRIL 2018\\23.04-18\\South-1.xls',
 'D:\\Neat\\Electricity Data\\2018\\LOG REPORT APRIL 2018\\23.04-18\\SOUTH-3.xls',
 'D:\\Neat\\Electricity Data\\2018\\LOG REPORT APRIL 2018\\23.04-18\\South-II.xls',
 'D:\\Neat\\Electricity Data\\2018\\LOG REPORT APRIL 2018\\23.04-18\\West .xls',
 'D:\\Neat\\Electricity Data\\2018\\LOG REPORT APRIL 2018\\24.04-18\\South-1.xls',
 'D:\\Neat\\Electricity Data\\2018\\LOG REPORT APRIL 2018\\24.04-18\\SOUTH-3.xls',
 'D:\\Neat\\Electricity Data\\2018\\LOG REPORT APRIL 2018\\24.04-18\\South-II.xls',
 'D:\\Neat\\Electricity Data\\2018\\LOG REPORT APRIL 2018\\24.04-18\\West .xls',
 'D:\\Neat\\Electricity Data\\2018\\LOG REPORT APRIL 2018\\25.04-18\\South-1.xls',
 'D:\\Neat\\Electricity Data\\2018\\LOG REPORT APRIL 2018\\25.04-18\\SOUTH-3.xls',
 'D:\\Neat\\Electricity Data\\2018\\LOG REPORT APRIL 2018\\25.04-18\\South-II.xls',
 'D:\\Neat\\Electricity Data\\2018\\LOG REPORT APRIL 2018\\25.04-18\\West .xls',
 'D:\\Neat\\Electricity Data\\2018\\LOG REPORT APRIL 2018\\26.04-18\\South-1.xls',
 'D:\\Neat\\Electricity Data\\2018\\LOG REPORT APRIL 2018\\26.04-18\\SOUTH-3.xls',
 'D:\\Neat\\Electricity Data\\2018\\LOG REPORT APRIL 2018\\26.04-18\\South-II.xls',
 'D:\\Neat\\Electricity Data\\2018\\LOG REPORT APRIL 2018\\26.04-18\\West .xls',
 'D:\\Neat\\Electricity Data\\2018\\LOG REPORT APRIL 2018\\27.04-18\\South-1.xls',
 'D:\\Neat\\Electricity Data\\2018\\LOG REPORT APRIL 2018\\27.04-18\\SOUTH-3.xls',
 'D:\\Neat\\Electricity Data\\2018\\LOG REPORT APRIL 2018\\27.04-18\\South-II.xls',
 'D:\\Neat\\Electricity Data\\2018\\LOG REPORT APRIL 2018\\27.04-18\\West .xls',
 'D:\\Neat\\Electricity Data\\2018\\LOG REPORT APRIL 2018\\28.04-18\\South-1.xls',
 'D:\\Neat\\Electricity Data\\2018\\LOG REPORT APRIL 2018\\28.04-18\\SOUTH-3.xls',
 'D:\\Neat\\Electricity Data\\2018\\LOG REPORT APRIL 2018\\28.04-18\\South-II.xls',
 'D:\\Neat\\Electricity Data\\2018\\LOG REPORT APRIL 2018\\28.04-18\\West .xls',
 'D:\\Neat\\Electricity Data\\2018\\LOG REPORT APRIL 2018\\29.04-18\\South-1.xls',
 'D:\\Neat\\Electricity Data\\2018\\LOG REPORT APRIL 2018\\29.04-18\\SOUTH-3.xls',
 'D:\\Neat\\Electricity Data\\2018\\LOG REPORT APRIL 2018\\29.04-18\\South-II.xls',
 'D:\\Neat\\Electricity Data\\2018\\LOG REPORT APRIL 2018\\29.04-18\\West .xls',
 'D:\\Neat\\Electricity Data\\2018\\LOG REPORT APRIL 2018\\30.04-18\\South-1.xls',
 'D:\\Neat\\Electricity Data\\2018\\LOG REPORT APRIL 2018\\30.04-18\\SOUTH-3.xls',
 'D:\\Neat\\Electricity Data\\2018\\LOG REPORT APRIL 2018\\30.04-18\\South-II.xls',
 'D:\\Neat\\Electricity Data\\2018\\LOG REPORT APRIL 2018\\30.04-18\\West .xls']

In [18]:
all_data = pd.DataFrame()
for f in allf:
    df = pd.read_excel(f,'ALL',header=None)
    if f[-12:]=='South-II.xls':
        all_data = all_data.append(df[2:],ignore_index=True)
    else:
        all_data = all_data.append(df[1:],ignore_index=True)

In [19]:
all_data.iloc[5575:,100:]
all_data.iloc[:,:]

,0,1,2,3,4,5,6,7,8,9,...,98,99,100,101,102,103,104,105,106,107
0,2018-04-01 00:00:00,DEFENCE COLONY,NaN,NaN,NaN,NaN,NaN,NaN,Battery,AMPs,...,18.07,18.0395,18.07,18.0395,18.07,18.07,18.07,18.07,18.1005,2018-04-01 03:00:00
1,2018-04-01 00:00:00,DEFENCE COLONY,NaN,NaN,NaN,NaN,NaN,NaN,Battery,Volts,...,55.5559,55.5559,55.5559,55.5559,55.5559,55.5559,55.5559,55.5559,55.739,2018-04-01 05:00:00
2,2018-04-01 00:00:00,DEFENCE COLONY,NaN,NaN,NaN,NaN,NaN,NaN,NEHRU STADIUM CKT-1,AMPs,...,82.1061,79.3323,79.4924,78.8581,77.7402,77.7402,77.7402,77.7402,86.7252,2018-04-01 20:00:00
3,2018-04-01 00:00:00,DEFENCE COLONY,NaN,NaN,NaN,NaN,NaN,NaN,NEHRU STADIUM CKT-1,KV,...,32.9722,32.8967,33.0952,32.9921,32.9902,32.9902,32.9902,32.9902,33.8179,2018-04-01 04:00:00
4,2018-04-01 00:00:00,DEFENCE COLONY,NaN,NaN,NaN,NaN,NaN,NaN,NEHRU STADIUM CKT-1,PF,...,-0.972117,-0.973337,-0.972156,-0.973869,-0.9742,-0.9742,-0.9742,-0.9742,-0.960099,2018-04-01 07:15:00
5,2018-04-01 00:00:00,DEFENCE COLONY,NaN,NaN,NaN,NaN,NaN,NaN,LODHI ROAD CKT 2,AMPs,...,115.547,111.142,112.562,108.438,103.732,103.732,103.732,103.732,118.547,2018-04-01 19:15:00
6,2018-04-01 00:00:00,DEFENCE COLONY,NaN,NaN,NaN,NaN,NaN,NaN,LODHI ROAD CKT 2,KV,...,33.6948,33.8581,33.705,33.7871,33.8087,33.8087,33.8087,33.8087,34.5499,2018-04-01 04:00:00
7,2018-04-01 00:00:00,DEFENCE COLONY,NaN,NaN,NaN,NaN,NaN,NaN,LODHI ROAD CKT 2,PF,...,-0.97089,-0.973057,-0.972709,-0.974297,-0.974874,-0.974874,-0.974874,-0.974874,-0.960243,2018-04-01 06:00:00
8,2018-04-01 00:00:00,DEFENCE COLONY,NaN,NaN,NaN,NaN,NaN,NaN,KILOKARI-RKP1,AMPs,...,6e-06,0,0,0,0,0,0,0,6e-06,2018-04-01 14:30:00
9,2018-04-01 00:00:00,DEFENCE COLONY,NaN,NaN,NaN,NaN,NaN,NaN,KILOKARI-RKP1,KV,...,33.3494,33.4183,33.3949,33.5149,33.5127,33.5127,33.5127,33.5127,34.2904,2018-04-01 04:00:00
10,2018-04-01 00:00:00,DEFENCE COLONY,NaN,NaN,NaN,NaN,NaN,NaN,KILOKARI-RKP1,PF,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,2018-04-01 00:00:00
11,2018-04-01 00:00:00,DEFENCE COLONY,NaN,NaN,NaN,NaN,NaN,NaN,NEHRU STADIUM CKT-2,AMPs,...,111.401,112.483,135.806,111.327,111.648,111.648,111.648,111.648,139.587,2018-04-01 20:00:00
12,2018-04-01 00:00:00,DEFENCE COLONY,NaN,NaN,NaN,NaN,NaN,NaN,NEHRU STADIUM CKT-2,KV,...,33.1256,33.0176,33.2327,33.0987,33.0999,33.0999,33.0999,33.0999,33.9223,2018-04-01 04:00:00
13,2018-04-01 00:00:00,DEFENCE COLONY,NaN,NaN,NaN,NaN,NaN,NaN,NEHRU STADIUM CKT-2,PF,...,0.832972,0.834276,0.828691,-0.98255,-0.982737,-0.982737,-0.982737,0.809946,0.869781,2018-04-01 20:00:00
14,2018-04-01 00:00:00,DEFENCE COLONY,20 MVA,1,NaN,NaN,NaN,NaN,HV1,AMPs,...,81.7924,79.2024,79.3484,78.743,76.9875,76.9875,76.9875,76.9875,86.6564,2018-04-01 20:15:00
15,2018-04-01 00:00:00,DEFENCE COLONY,20 MVA,1,NaN,NaN,NaN,NaN,HV1,KV,...,25.8323,25.9621,25.8633,25.9221,25.9292,25.9292,25.9292,25.9292,26.621,2018-04-01 04:00:00
16,2018-04-01 00:00:00,DEFENCE COLONY,20 MVA,1,NaN,NaN,NaN,NaN,TR1,WTI,...,43.5896,43.5896,43.5896,43.5896,42.4909,42.4909,42.4909,42.4909,51.3718,2018-04-01 12:00:00
17,2018-04-01 00:00:00,DEFENCE COLONY,20 MVA,1,NaN,NaN,NaN,NaN,TR1,OTI,...,42.3994,42.3994,41.4838,41.4838,41.4838,41.4838,41.4838,41.4838,48.442,2018-04-01 12:00:00
18,2018-04-01 00:00:00,DEFENCE COLONY,20 MVA,1,NaN,NaN,NaN,NaN,TR1,TAP POSITION,...,2.99713,2.99713,2.99713,2.99713,2.99713,2.99713,2.99713,2.99713,2.99713,2018-04-01 00:00:00
19,2018-04-01 00:00:00,DEFENCE COLONY,25 MVA,NaN,2,NaN,NaN,NaN,HV2,AMPs,...,115.79,110.899,112.018,108.673,103.402,103.402,103.402,103.402,118.582,2018-04-01 19:15:00
20,2018-04-01 00:00:00,DEFENCE COLONY,25 MVA,NaN,2,NaN,NaN,NaN,HV2,KV,...,25.3848,25.5267,25.4125,25.4512,25.4738,25.4738,25.4738,25.4738,26.167,2018-04-01 04:00:00
21,2018-04-01 00:00:00,DEFENCE COLONY,25 MVA,NaN,2,NaN,NaN,NaN,TR2,WTI,...,41.6669,40.9803,40.9803,40.7514,40.7514,40.8429,40.8429,40.8429,51.1887,2018-04-01 15:00:00
22,2018-04-01 00:00:00,DEFENCE COLONY,25 MVA,NaN,2,NaN,NaN,NaN,TR2,OTI,...,44.8714,44.2763,44.1847,44.0474,43.9558,43.9558,43.9558,43.9558,53.2487,2018-04-01 15:00:00
23,2018-04-01 00:00:00,DEFENCE COLONY,25 MVA,NaN,2,NaN,NaN,NaN,TR2,TAP POSITION,...,3.01227,3.01227,3.01227,3.01227,3.01227,3.01227,3.01227,3.01227,3.0611,2018-04-01 00:00:00
24,2018-04-01 00:00:00,DEFENCE COLONY,20 MVA,NaN,NaN,3,NaN,NaN,HV3,AMPs,...,135.938,112.898,136.573,111.429,110.853,110.853,110.853,110.853,139.903,2018-04-01 20:00:00
25,2018-04-01 00:00:00,DEFENCE COLONY,20 MVA,NaN,NaN,3,NaN,NaN,HV3,KV,...,33.0064,32.8967,33.1373,32.9965,32.9847,32.9847,32.9847,32.9847,33.8416,2018-04-01 04:00:00
26,2018-04-01 00:00:00,DEFENCE COLONY,20 MVA,NaN,NaN,3,NaN,NaN,TR3,WTI,...,46.7483,46.1989,46.3362,45.9243,45.9243,46.1074,46.1074,46.1074,52.6078,2018-04-01 14:00:00
27,2018-04-01 00:00:00,DEFENCE COLONY,20 MVA,NaN,NaN,3,NaN,NaN,TR3,OTI,...,43.0403,42.9029,42.9029,42.7198,42.7198,42.7198,42.5367,42.5367,49.1745,2018-04-01 14:00:00
28,2018-04-01 00:00:00,DEFENCE COLONY,20 MVA,NaN,NaN,3,NaN,NaN,TR3,TAP POSITION,...,2.98737,2.99225,2.98737,2.99225,2.98737,2.98737,2.98737,2.98737,2.99225,2018-04-01 01:15:00
29,2018-04-01 00:00:00,DEFENCE COLONY,20 MVA,1,NaN,NaN,NaN,NaN,LV1,AMPs,...,252.464,245.262,246.209,241.2,235.423,235.423,235.423,235.423,267.266,2018-04-01 20:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
164560,2018-04-27 00:00:00,0,0,1,0,0,0,0,0,0,...,249.168,249.168,249.168,249.168,249.168,249.168,249.168,280.56,878.232,00:00:00
164561,2018-04-27 00:00:00,0,0,0,2,0,0,0,0,0,...,-0.988225,-0.988225,-0.988225,-0.988225,-0.988225,-0.988225,-0.988225,-0.988996,-0.978152,00:00:00
164562,2018-04-27 00:00:00,0,0,0,2,0,0,0,0,0,...,10.0327,10.0327,10.0327,10.0327,10.0327,10.0327,10.0327,9.90494,10.4098,00:00:00
164563,2018-04-27 00:00:00,0,0,0,2,0,0,0,0,0,...,564.872,564.872,564.872,564.872,564.872,564.872,564.872,703.557,703.557,00:00:00
164564,2018-04-27 00:00:00,0,0,0,1,0,0,0,0,0,...,15.848,15.848,15.848,15.848,15.848,15.848,14.992,0,16.176,00:00:00
164565,2018-04-27 00:00:00,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,00:00:00
164566,2018-04-27 00:00:00,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,00:00:00
164567,2018-04-27 00:00:00,0,0,1,0,0,0,0,0,0,...,0.9871,0.9871,0.9871,0.9871,0.9871,0.9871,0.9871,0.9862,0.9924,00:00:00
164568,2018-04-27 00:00:00,0,0,1,0,0,0,0,0,0,...,150.16,150.16,150.16,150.16,150.16,150.16,150.16,175.208,175.208,00:00:00
164569,2018-04-27 00:00:00,0,0,1,0,0,0,0,0,0,...,0.9848,0.9848,0.9848,0.9848,0.9848,0.9848,0.9848,0.997,0.9986,00:00:00
164570,2018-04-27 00:00:00,0,0,1,0,0,0,0,0,0,...,79.4,79.4,79.4,79.4,79.4,79.4,79.4,75.392,79.4,00:00:00
164571,2018-04-27 00:00:00,0,0,1,0,0,0,0,0,0,...,0.0536,0.0536,0.0536,0.0536,0.0536,0.0536,0.0536,-0.0546,0.9997,00:00:00
164572,2018-04-27 00:00:00,0,0,1,0,0,0,0,0,0,...,1.592,1.592,1.592,1.592,1.592,1.592,1.592,1.592,23.016,00:00:00
164573,2018-04-27 00:00:00,0,0,1,0,0,0,0,0,0,...,0.9841,0.9841,0.9841,0.9841,0.9841,0.9841,0.9841,0.9549,0.9848,00:00:00
164574,2018-04-27 00:00:00,0,0,1,0,0,0,0,0,0,...,15.408,15.408,15.408,15.408,15.408,15.408,15.408,24.608,45.016,00:00:00
164575,2018-04-27 00:00:00,0,0,0,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2.576,00:00:00
164576,2018-04-27 00:00:00,0,0,0,2,0,0,0,0,0,...,0.9908,0.9908,0.9908,0.9908,0.9908,0.9908,0.9908,0.9917,0.9975,00:00:00
164577,2018-04-27 00:00:00,0,0,0,2,0,0,0,0,0,...,120.416,120.416,120.416,120.416,120.416,120.416,120.416,142.744,142.744,00:00:00
164578,2018-04-27 00:00:00,0,0,0,2,0,0,0,0,0,...,0.98,0.98,0.98,0.98,0.98,0.98,0.98,0.9806,0.9962,00:00:00
164579,2018-04-27 00:00:00,0,0,0,2,0,0,0,0,0,...,193.032,193.032,193.032,193.032,193.032,193.032,193.032,260.608,260.608,00:00:00
164580,2018-04-27 00:00:00,0,0,0,2,0,0,0,0,0,...,0.9807,0.9807,0.9807,0.9807,0.9807,0.9807,0.9807,0.9816,0.9816,00:00:00
164581,2018-04-27 00:00:00,0,0,0,2,0,0,0,0,0,...,125.328,125.328,125.328,125.328,125.328,125.328,125.328,165.456,165.456,00:00:00
164582,2018-04-27 00:00:00,0,0,0,2,0,0,0,0,0,...,0.9834,0.9834,0.9834,0.9834,0.9834,0.9834,0.9834,0.9906,0.9973,00:00:00
164583,2018-04-27 00:00:00,0,0,0,2,0,0,0,0,0,...,69.024,69.024,69.024,69.024,69.024,69.024,69.024,95.496,95.496,00:00:00
164584,2018-04-27 00:00:00,0,0,0,2,0,0,0,0,0,...,-0.9938,-0.9938,-0.9938,-0.9938,-0.9938,-0.9938,-0.9938,-0.9978,0.9985,00:00:00
164585,2018-04-27 00:00:00,0,0,0,2,0,0,0,0,0,...,11.12,11.12,11.12,11.12,11.12,11.12,11.12,13.616,17.024,00:00:00
164586,2018-04-27 00:00:00,0,0,0,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,00:00:00
164587,2018-04-27 00:00:00,0,0,0,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,00:00:00
164588,2018-04-27 00:00:00,0,0,0,2,0,0,0,0,0,...,-0.962293,-0.962293,-0.962293,-0.962293,-0.962293,-0.962293,-0.962293,-0.962293,-0.962293,00:00:00
164589,2018-04-27 00:00:00,0,0,0,2,0,0,0,0,0,...,57.7086,57.7086,57.7086,57.7086,57.7086,57.7086,57.7086,57.7086,57.7086,00:00:00